* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  font-family: "Lato", sans-serif;
  text-align: center;
  cursor: default;
}

.clock {
  margin-top: 20vh;
  font-size: 4.5rem;
  font-weight: 500;
}

.greeting {
  display: none;
  margin-top: 3vh;
  font-size: 3.5rem;
}
.showing {
  display: block;
}

.form {
  margin-top: 3vh;
  font-size: 3.5rem;
}
.form input {
  cursor: auto;
  font-size: 2.2rem;
  border: 0;
  border-radius: 25px;
  padding-left: 10px;
  outline: none;
  line-height: 1.8;
  width: 200px;
}

.toDoList {
  list-style: none;
  margin-top: 1vh;
  font-size: 1.8rem;
}
.toDoList li {
  width: fit-content;
  margin: 5px auto;
}
.toDoList li button {
  width: 25px;
  height: 25px;
  line-height: 21px;
  font-size: 1.4rem;
  color: red;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 9999px;
  background-color: white;
  margin-left: 8px;
}

.toDoForm {
  margin-top: 2vh;
}
.toDoForm input {
  cursor: auto;
  font-size: 1.5rem;
  border: 0;
  border-radius: 15px;
  padding-left: 10px;
  outline: none;
  line-height: 1.8;
}

.contact {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 2.2rem;
}

.contact i {
  margin: 0 12px;
  opacity: 0.8;
  transition: 0.3s linear;
}

.contact i:hover {
  opacity: 1;
  transform: scale(1.1);
}

.weather {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 1.8rem;
  transition: 0.3s linear;
}

.weather:hover {
  transform: scale(1.2);
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 0.5s linear;
}

.hidden {
  opacity: 0.2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: white;
  text-decoration: none;
}

@media all and (max-width: 320px) {
  .clock {
    margin-top: 10vh;
    font-size: 3rem;
    font-weight: 500;
  }
  .greeting {
    margin-top: 1vh;
    font-size: 1.8rem;
  }
  .toDoList {
    margin-top: 0.5vh;
    font-size: 1.2rem;
  }
  .toDoForm {
    margin-top: 1.5vh;
  }
  .toDoForm input {
    font-size: 1.2rem;
  }
  .weather {
    right: 1rem;
    top: 0.5rem;
    font-size: 1.4rem;
  }
  .contact {
    left: 0.5rem;
    top: 0.6rem;
    font-size: 1.6rem;
  }
  .contact i {
    margin: 0 6px;
  }
  .form {
    margin-top: 1vh;
    font-size: 1.8rem;
  }
  .form input {
    font-size: 1.2rem;
    border-radius: 25px;
  }
}
